*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
  background: url(../image/office-building-modern-business-center_42691-253.jpg);
}
html {
overflow-y: scroll;

  
  
  
}
.header{
    position: relative;
    z-index: 2;
}
.header-top{
    
    padding-block: 15px;

}
.header-top  .container,
.header-top-list{
    margin-right: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
 .header-top .container,
.header-top-list  li{
  list-style: none;
}
.wrapper .header-social-link-list li{
    list-style: none;
   
}
.header-top .container{
    gap: 8px 20px;
  
}
.header-top-list{
    gap: 16px;
    
}
.header-top-link {
    color:black;
    font-size: 20px;
    font-weight:700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .header-top-link span{
    color: orange
  }
  
 
  .header-top-link:hover 
  { 
    color: orange;

  }
  .wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}

.header-social-link-list {
    display: flex; 
    list-style: none; 
   margin-right: -400px;
}

.header-social-link-list li {
    margin: 0 10px; 
}

.header-social-link-list a {
    text-decoration: none; 
    font-size: 24px; 
    color:blue
}
.header-social-link-list a:hover{
  color: rgb(255, 0, 0);
}
.navbar {
   /* background-color: burlywood;  */
   margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}
.navbar-list .logo{
  margin-left: -550px;
 width: 300px;
 border-radius:20px;
}
/* Styling the unordered list */
.navbar-list {
  list-style: none;
  font-size: 25px;
  display: flex;
  gap: 20px;
  margin-left: 600px;
  margin-top: -10px;
}
.navbar-list a {
  text-decoration: none;
  /* color:rgba(0, 0, 0, 0.705); */
  font-weight: bold;
  padding: 5px 10px;
  transition: color 0.3s ease;
}

.navbar-list a:hover {
  color: #00bcd4;
}
.main h1{
  padding: 40px;
  font-size: 70px;
  color:rgba(50, 82, 53, 0.699)
}
.main h1{
 
  /* background: url(../image/office-building-modern-business-center_42691-253.jpg); */
 
}
