*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
  background: url(../image/office-building-modern-business-center_42691-253.jpg);
}
html {
  
  scroll-behavior: smooth;
}
.header{
    position: relative;
    z-index: 2;
}
.header-top{
    
    padding-block: 15px;

}
.header-top  .container,
.header-top-list{
    margin-right: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
 .header-top .container,
.header-top-list  li{
  list-style: none;
}
.wrapper .header-social-link-list li{
    list-style: none;
   
}
.header-top .container{
    gap: 8px 20px;
  
}
.header-top-list{
    gap: 16px;
}
.header-top-link {
    color:white;
    font-size: 16px;
    font-weight:700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .header-top-link span{
    color: orange
  }
  
 
  .header-top-link:hover 
  { 
    color: orange;

  }
  .wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}

.header-social-link-list {
    display: flex; 
    list-style: none; 
   margin-right: -400px;
}

.header-social-link-list li {
    margin: 0 10px; 
}

.header-social-link-list a {
    text-decoration: none; 
    font-size: 24px; 
    color:#fff;
}

.navbar {
  /* background-color: burlywood; */
   margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin-top: 10px;
    
  
  
 
}

/* Styling the container */


/* Styling the unordered list */
.navbar-list {
  list-style: none;
  font-size: 25px;
  
  display: flex;
  gap: 20px;
  margin-left: 600px;
  
  
}

/* Styling the list items and links */
.navbar-list .logo{
  margin-left: -600px;
  margin-top: -60px;
  align-items: center;
  
  
 
  
}

.navbar-list a {
  text-decoration: none;
  color:rgba(0, 0, 0, 0.705);
  font-weight: bold;
  padding: 5px 10px;
  transition: color 0.3s ease;
}

.navbar-list a:hover {
  color: #00bcd4;
}
.main h1{
  padding: 40px;
  font-size: 70px;
}
.main{
 
  /* background: url(../image/office-building-modern-business-center_42691-253.jpg); */
}


/* .header-top-link .header-social-link-list {
  color:#fff;
  font-size: 15px;
  
}

.header-top .wrapper,
.header-top-social-list {
    color: #fff;
  display: flex;
  align-items: center;
}

.header-top .wrapper { gap: 20px; }

.header-top-social-list { gap: 8px; }

.header-top-social-link {
  color: var(--white);
  font-size: 15px;
} */